<td class="fullname" data-test-fullname>{{client.fullName}}</td>
<td data-test-email>{{client.email}}</td>
<td data-test-mobile>{{client.mobile}}</td>
<td data-test-action>
  {{#if hasVoucher}}
    <span data-test-voucher-number>Voucher Number: {{voucher.serialNumber}}</span>
  {{else}}
    {{bulma/bulma-field-btn-addons
      leftAddon="$"
      hasRightAddon=true
      size="small"
      globalError=globalError
      inputError=validations.attrs.originalBalance.message
      inputPlaceholder="balance"
      inputValue=originalBalance
      isLoading=isGenerating
      btnDisabled=isGenerating
      btnLabel="Generate"
      onButtonClick=(action "handleGenerateVoucher" client originalBalance)
    }}
  {{/if}}
</td>